* {
    font-family: "Source Code Pro", monospace;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to top, white, #757575);
}
.auth {
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar {
    background: linear-gradient(to top, white, #bdbdbd);
    
}
header {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
}